.projects {
  padding: 4rem;
}

@media (min-width: 1024px) {
  .projects {
    padding: 12rem 16rem;
  }
}

.projects__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .projects__container {
    gap: 2rem;
  }
}

.container {
  position: relative;
  padding: 12rem 5rem;
}

@media (min-width: 1024px) {
  .container {
    position: relative;
    padding: 12rem 6rem;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 120px; /* Reducido proporcionalmente */
  height: 75px; /* Reducido proporcionalmente */
  margin-left: -60px; /* Reducido proporcionalmente */
  margin-top: -37.5px; /* Reducido proporcionalmente */
  border-radius: 3px; /* Reducido proporcionalmente */
  background: #271e57;
  animation: dot1_ 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
}

.loader:nth-child(2) {
  z-index: 11;
  width: 112.5px; /* Reducido proporcionalmente */
  height: 67.5px; /* Reducido proporcionalmente */
  margin-top: -33.75px; /* Reducido proporcionalmente */
  margin-left: -56.25px; /* Reducido proporcionalmente */
  border-radius: 1.8px; /* Reducido proporcionalmente */
  background: #443c7d;
  animation-name: dot2_;
}

.loader:nth-child(3) {
  z-index: 12;
  width: 30px; /* Reducido proporcionalmente */
  height: 15px; /* Reducido proporcionalmente */
  margin-top: 37.5px; /* Reducido proporcionalmente */
  margin-left: -15px; /* Reducido proporcionalmente */
  border-radius: 0 0 3px 3px; /* Reducido proporcionalmente */
  background: #6e6bcd;
  animation-name: dot3_;
}

@keyframes dot1_ {
  3%,
  97% {
    width: 120px; /* Reducido proporcionalmente */
    height: 75px; /* Reducido proporcionalmente */
    margin-top: -37.5px; /* Reducido proporcionalmente */
    margin-left: -60px; /* Reducido proporcionalmente */
  }

  30%,
  36% {
    width: 60px; /* Reducido proporcionalmente */
    height: 90px; /* Reducido proporcionalmente */
    margin-top: -45px; /* Reducido proporcionalmente */
    margin-left: -30px; /* Reducido proporcionalmente */
  }

  63%,
  69% {
    width: 30px; /* Reducido proporcionalmente */
    height: 60px; /* Reducido proporcionalmente */
    margin-top: -30px; /* Reducido proporcionalmente */
    margin-left: -15px; /* Reducido proporcionalmente */
  }
}

@keyframes dot2_ {
  3%,
  97% {
    height: 67.5px; /* Reducido proporcionalmente */
    width: 112.5px; /* Reducido proporcionalmente */
    margin-left: -56.25px; /* Reducido proporcionalmente */
    margin-top: -33.75px; /* Reducido proporcionalmente */
  }

  30%,
  36% {
    width: 52.5px; /* Reducido proporcionalmente */
    height: 72px; /* Reducido proporcionalmente */
    margin-left: -26.25px; /* Reducido proporcionalmente */
    margin-top: -36px; /* Reducido proporcionalmente */
  }

  63%,
  69% {
    width: 24px; /* Reducido proporcionalmente */
    height: 45px; /* Reducido proporcionalmente */
    margin-left: -12px; /* Reducido proporcionalmente */
    margin-top: -22.5px; /* Reducido proporcionalmente */
  }
}

@keyframes dot3_ {
  3%,
  97% {
    height: 15px; /* Reducido proporcionalmente */
    width: 30px; /* Reducido proporcionalmente */
    margin-left: -15px; /* Reducido proporcionalmente */
    margin-top: 37.5px; /* Reducido proporcionalmente */
  }

  30%,
  36% {
    width: 6px; /* Reducido proporcionalmente */
    height: 6px; /* Reducido proporcionalmente */
    margin-left: -3.75px; /* Reducido proporcionalmente */
    margin-top: 36.75px; /* Reducido proporcionalmente */
    border-radius: 6px; /* Reducido proporcionalmente */
  }

  63%,
  69% {
    width: 12px; /* Reducido proporcionalmente */
    height: 3px; /* Reducido proporcionalmente */
    margin-left: -6px; /* Reducido proporcionalmente */
    margin-top: -27.75px; /* Reducido proporcionalmente */
    border-radius: 7.5px; /* Reducido proporcionalmente */
  }
}

@media (max-width: 1023px) {
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 80px;
    height: 50px;
    margin: -25px -40px;
    border-radius: 3px;
    background: #271e57;
    animation: dot1_ 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
  }

  .loader:nth-child(2) {
    z-index: 11;
    width: 75px;
    height: 45px;
    margin: -22.5px -37.5px;
    border-radius: 2px;
    background: #443c7d;
    animation-name: dot2_;
  }

  .loader:nth-child(3) {
    z-index: 12;
    width: 20px;
    height: 10px;
    margin: 25px -10px;
    border-radius: 2px;
    background: #6e6bcd;
    animation-name: dot3_;
  }

  @keyframes dot1_ {
    3%,
    97% {
      width: 80px;
      height: 50px;
      margin: -25px -40px;
    }

    30%,
    36% {
      width: 40px;
      height: 60px;
      margin: -30px -20px;
    }

    63%,
    69% {
      width: 20px;
      height: 40px;
      margin: -20px -10px;
    }
  }

  @keyframes dot2_ {
    3%,
    97% {
      height: 45px;
      width: 75px;
      margin: -22.5px -37.5px;
    }

    30%,
    36% {
      width: 35px;
      height: 48px;
      margin: -24px -18.75px;
    }

    63%,
    69% {
      width: 16px;
      height: 30px;
      margin: -15px -8px;
    }
  }

  @keyframes dot3_ {
    3%,
    97% {
      height: 10px;
      width: 20px;
      margin: 25px -10px;
    }

    30%,
    36% {
      width: 4px;
      height: 4px;
      margin: 24.5px -5px;
      border-radius: 4px;
    }

    63%,
    69% {
      width: 8px;
      height: 2px;
      margin: -18.5px -4px;
      border-radius: 5px;
    }
  }
}

.projects__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  color: transparent;
  background: linear-gradient(83.2deg, rgba(150, 93, 233, 1) 10.8%, rgb(33, 19, 73) 94.3%);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200% 100%;
  animation: slideGradient 4s alternate-reverse infinite;
}

@media (min-width: 414px) {
  .projects__title {
    font-size: 3rem;
  }
}

@keyframes slideGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 90% 50%;
  }
}

@media (min-width: 1024px) {
  .projects__title {
    font-size: 4.5rem;
    text-align: center;
    font-weight: 900;
  }
}

.radios {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #eee;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 26rem;
  font-size: 1.1rem;
  margin-bottom: 6rem;
}

@media (min-width: 414px) {
  .radios {
    width: 30rem;
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .radios {
    width: 40rem;
    font-size: 1.6rem;
    margin-bottom: 8rem;
    padding: 0.46rem;
  }
}

.radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio__input {
  display: none;
}

.radio__name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
}

.radios .radio input:checked + .radio__name {
  background-color: #fff;
  font-weight: 600;
}

.projects__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

@media (min-width: 1204px) {
  .projects__list {
    gap: 14rem;
  }
}
