.skills {
  padding: 0 4rem;
  margin-bottom: 12rem;
}

@media (min-width: 1024px) {
  .skills {
    padding: 2rem 16rem;
  }
}

.skills__title {
  margin-bottom: 6rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  color: transparent;
  background: linear-gradient(83.2deg, rgba(150, 93, 233, 1) 10.8%, rgb(33, 19, 73) 94.3%);
  -webkit-background-clip: text;
}

@media (min-width: 1024px) {
  .skills__title {
    font-size: 4rem;
    text-align: center;
  }
}

.skills__container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media (min-width: 1024px) {
  .skills__container {
    flex-direction: row;
  }
}

.skills__section {
  width: 100%;
}

.skills__subtitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 1rem;
  border-radius: 1rem;
}

.skill:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.skill__svg {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill__name {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-color-light);
}
